.header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 90px;
  background: rgba(20, 20, 20, 0.6);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;  /* логотип ліворуч, кнопка праворуч */
  width: 100%;
}

.small-logo {
  width: 200px;
  height: auto; 
  margin-left: 100px;
}

.logo-link {
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #121212;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.profile-button {
  width: 50px;                 /* кругла кнопка */
  height: 50px;
  border-radius: 50%;          /* робимо її круглою */
  border: none;                /* без обвідки */
  background-color: #ff8c00;   /* базовий колір */
  cursor: pointer;             /* курсор при наведенні */
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-right: 30px;
}

.profile-button:hover {
  background-color: #ffa733;   /* підсвічування */
  transform: scale(1.1);       /* легке збільшення */
}

.profile-button:active {
  transform: scale(0.99);       /* кнопка трохи зменшується при натисканні */
  background-color: #e57b00;    /* можна змінити колір під час натискання */
}

@media (max-width: 768px) {
  .header {
    width: 90%;
    height: 70px;
  }

  .small-logo {
    width: 150px;
  }
}